<div class="card px-0 mt-2">
    <div class="card-header">Processed data</div>
    <div class="card-body">

        <div class="row mt-5 justify-content-center" th:id="${spinner}">
            <div class="col-2">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div th:id="${errorProcessDataId}" class="alert alert-danger" role="alert" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
            </svg>
            The test could not be processed. Please check that the data set is correct and that the correct test type
            has been executed.
        </div>

        <div th:id="${alphanumericDataId}" class="row">
        </div>

        <div class="accordion" th:id="${accordionPanelsStayOpen}" style="display: none;">
            <div th:each="item: ${groupDataList}" class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            th:attr="data-bs-target=${'#'+id} + ${item} + PanelsStayOpenCollapse, aria-controls=${id} + ${item} + panelsStayOpenCollapse"
                            aria-expanded="false">
                        [(${item})]
                    </button>
                </h2>
                <div th:id="${id} + ${item} + PanelsStayOpenCollapse" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <canvas th:id="${id} + ${item} + ProcessedGraphic"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>