<div th:id="${dataNameId}" class="col-md-2 mb-2">
    <div class="toast align-items-center fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" th:attr="name=${dataName}">
                [(${dataName})]
                <div class="form-check" th:attr="onclick=|selectDisabled('${selectDataNameId}')|">
                    <input th:id="${radioButtonId1}" class="form-check-input" type="radio" name="flexRadioDefault" th:attr="name=${radioButtonName}" value="ALPHANUMERIC" checked>
                    <label class="form-check-label" th:attr="for=${radioButtonId1}">
                        Alphanumeric
                    </label>
                </div>
                <div class="form-check" th:attr="onclick=|selectEnabled('${selectDataNameId}')|">
                    <input th:id="${radioButtonId2}" class="form-check-input" type="radio" th:attr="name=${radioButtonName}" value="DATA_ARRAY">
                    <label class="form-check-label" th:attr="for=${radioButtonId2}">
                        Data Array
                    </label>
                </div>
                <select th:id="${selectDataNameId}" class="form-select form-select-sm" aria-label="Small select example" style="display: none;">
                    <div th:each="item: ${selectData}">
                        <option th:if="${itemStat.index == 0}" th:attr="value=${item.value}" selected>[(${item.name})]</option>
                        <<option th:if="${itemStat.index != 0}" th:attr="value=${item.value}">[(${item.name})]</option>
                    </div>
                </select>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" th:attr="onclick=|deleteDataName('${dataNameId}')|"></button>
        </div>
    </div>
</div>